<section class="menu">
	<div class="container menu__container">
		<div class="menu__buttons">
			<div class="menu__button menu__button-date">
				<img
					src="./img/calendar.svg"
					class="image menu__icon-calendar"
					width="18"
					height="20"
					alt="Иконка календарь"
				/>
				<input class="menu__input-date" type="text" name="date" readonly />
			</div>
			<div class="menu__button menu__button-nav">
				<img src="./img/nav.svg" class="image menu__icon-nav" width="20" height="20" alt="Иконка навигации" />
				<ul class="menu__list list-reset">
					<li class="menu__item menu__item-active">
						<a class="menu__link" href="/employee.html">Сотрудник</a>
					</li>
					<li class="menu__item"><a class="menu__link" href="/team.html">Команда</a></li>
					<li class="menu__item"><a class="menu__link" href="/result.html">Результаты</a></li>
					<li class="menu__item"><a class="menu__link" href="/">Начисления</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Проекты</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
