<section class="stats">
	<div class="container stats__container">
		<ul class="list-reset stats__list">
			<li class="stats__item stats__item-green">
				<div class="stats__header">
					<h4 class="stats__heading stats__subtitle stats__subtitle-header">Сумма сделок</h4>
					<div class="stats__container-icon">
						<img src="./img/bag.svg" class="image" width="28" height="30" alt="Иконка сумки" />
					</div>
				</div>
				<div class="stats__body">
					<h3 class="stats__heading stats__title">
						<span class="stats__value">9 999 999 999</span><span> ₽</span>
					</h3>
				</div>
				<a href="#" class="stats__footer">
					<h5 class="stats__heading stats__subtitle stats__subtitle-footer">Результаты месяца</h5>
					<img
						src="./img/right-arrow.svg"
						class="image stats__icon-arrow"
						width="10"
						height="15"
						alt="Иконка стрелки"
					/>
				</a>
			</li>
			<li class="stats__item stats__item-black">
				<div class="stats__header">
					<h4 class="stats__heading stats__subtitle stats__subtitle-header">ФОТ</h4>
					<div class="stats__container-icon stats__container-icon-text">8</div>
				</div>
				<div class="stats__body">
					<h3 class="stats__heading stats__title">
						<span class="stats__value">9 999 999 999</span><span> ₽</span>
					</h3>
				</div>
				<a href="#" class="stats__footer">
					<h5 class="stats__heading stats__subtitle stats__subtitle-footer">Всего начислено</h5>
					<img
						src="./img/right-arrow.svg"
						class="image stats__icon-arrow"
						width="10"
						height="15"
						alt="Иконка стрелки"
					/>
				</a>
			</li>
			<li class="stats__item stats__item-lightblue">
				<div class="stats__header">
					<h4 class="stats__heading stats__subtitle stats__subtitle-header">Лицензии</h4>
					<div class="stats__container-icon">
						<img src="./img/group.svg" class="image" width="35" height="22" alt="Иконка группы людей" />
					</div>
				</div>
				<div class="stats__body">
					<h3 class="stats__heading stats__title">
						<span class="stats__value">9 999 999 999</span><span> ₽</span>
					</h3>
				</div>
				<a href="#" class="stats__footer">
					<h5 class="stats__heading stats__subtitle stats__subtitle-footer">Сумма за месяц</h5>
					<img
						src="./img/right-arrow.svg"
						class="image stats__icon-arrow"
						width="10"
						height="15"
						alt="Иконка стрелки"
					/>
				</a>
			</li>
			<li class="stats__item stats__item-darkblue">
				<div class="stats__header">
					<h4 class="stats__heading stats__subtitle stats__subtitle-header">Налоги</h4>
					<div class="stats__container-icon">
						<img src="./img/exit.svg" class="image" width="24" height="27" alt="Иконка выхода" />
					</div>
				</div>
				<div class="stats__body">
					<h3 class="stats__heading stats__title">
						<span class="stats__value">9 999 999 999</span><span> ₽</span>
					</h3>
				</div>
				<a href="#" class="stats__footer">
					<h5 class="stats__heading stats__subtitle stats__subtitle-footer">Фонды и начисления</h5>
					<img
						src="./img/right-arrow.svg"
						class="image stats__icon-arrow"
						width="10"
						height="15"
						alt="Иконка стрелки"
					/>
				</a>
			</li>
			<li class="stats__item stats__item-darkestblue">
				<div class="stats__header">
					<h4 class="stats__heading stats__subtitle stats__subtitle-header">Выработка руб / час</h4>
					<div class="stats__container-icon">
						<img src="./img/user.svg" class="image" width="40" height="40" alt="Иконка пользователя" />
					</div>
				</div>
				<div class="stats__body">
					<h3 class="stats__heading stats__title">
						<span class="stats__value">9 999 999 999</span><span> ₽</span>
					</h3>
				</div>
				<a href="#" class="stats__footer">
					<h5 class="stats__heading stats__subtitle stats__subtitle-footer">Стоимость часа</h5>
					<img
						src="./img/right-arrow.svg"
						class="image stats__icon-arrow"
						width="10"
						height="15"
						alt="Иконка стрелки"
					/>
				</a>
			</li>
		</ul>
	</div>
</section>
