<section class="stats stats-team">
	<div class="container stats__container">
		<ul class="list-reset stats__list">
			<li class="stats__item stats__item-darkestblue">
				<div class="stats__header">
					<h4 class="stats__heading stats__subtitle stats__subtitle-header">Часы разработки</h4>
					<div class="stats__container-icon">
						<img src="./img/gear.svg" class="image" width="30" height="30" alt="Иконка пользователя" />
					</div>
				</div>
				<div class="stats__body">
					<h3 class="stats__heading stats__title">
						<span class="stats__value">450</span>
					</h3>
				</div>
				<a href="#" class="stats__footer">
					<h5 class="stats__heading stats__subtitle stats__subtitle-footer">Текущий месяц</h5>
					<img
						src="./img/right-arrow.svg"
						class="image stats__icon-arrow"
						width="10"
						height="15"
						alt="Иконка стрелки"
					/>
				</a>
			</li>
			<li class="stats__item stats__item-pink">
				<div class="stats__header">
					<h4 class="stats__heading stats__subtitle stats__subtitle-header">Незавершенные</h4>
					<div class="stats__container-icon">
						<img src="./img/gear.svg" class="image" width="30" height="30" alt="Иконка пользователя" />
					</div>
				</div>
				<div class="stats__body">
					<h3 class="stats__heading stats__title">
						<span class="stats__value">39.17</span>
					</h3>
				</div>
				<a href="#" class="stats__footer">
					<h5 class="stats__heading stats__subtitle stats__subtitle-footer">Просроченные задачи</h5>
					<img
						src="./img/right-arrow.svg"
						class="image stats__icon-arrow"
						width="10"
						height="15"
						alt="Иконка стрелки"
					/>
				</a>
			</li>
			<li class="stats__item stats__item-orange">
				<div class="stats__header">
					<h4 class="stats__heading stats__subtitle stats__subtitle-header">Переговоры</h4>
					<div class="stats__container-icon">
						<img src="./img/gear.svg" class="image" width="30" height="30" alt="Иконка группы людей" />
					</div>
				</div>
				<div class="stats__body">
					<h3 class="stats__heading stats__title">
						<span class="stats__value">0 ч.</span> <span class="stats__value"> 0 м.</span>
					</h3>
				</div>
				<a href="#" class="stats__footer">
					<h5 class="stats__heading stats__subtitle stats__subtitle-footer">Текущий месяц</h5>
					<img
						src="./img/right-arrow.svg"
						class="image stats__icon-arrow"
						width="10"
						height="15"
						alt="Иконка стрелки"
					/>
				</a>
			</li>
			<li class="stats__item stats__item-green">
				<div class="stats__header">
					<h4 class="stats__heading stats__subtitle stats__subtitle-header">Выполненные задачи</h4>
					<div class="stats__container-icon">
						<img src="./img/gear.svg" class="image" width="30" height="30" alt="Иконка шестеренки" />
					</div>
				</div>
				<div class="stats__body">
					<h3 class="stats__heading stats__title">
						<span class="stats__value">11</span>
					</h3>
				</div>
				<a href="#" class="stats__footer">
					<h5 class="stats__heading stats__subtitle stats__subtitle-footer">Текущий месяц</h5>
					<img
						src="./img/right-arrow.svg"
						class="image stats__icon-arrow"
						width="10"
						height="15"
						alt="Иконка стрелки"
					/>
				</a>
			</li>
		</ul>
	</div>
</section>
