:root {
	// base
	--font-family: "Golos Text", sans-serif;
	--content-width: 1300px;
	--container-offset: 15px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--white-color: #fff;
	--black-color: #1e1e1e;
	--hero-border-color: rgba(20, 38, 71, 0.2);
	--dark-blue-color: #126797;
}
