:root {
	// base
	--font-family: "Montserrat", sans-serif;
	--content-width: 1300px;
	--container-offset: 15px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--white-color: #fff;
	--black-color: #1e1e1e;
	--real-black-color: #000;
	--hero-border-color: rgba(20, 38, 71, 0.2);
	--dark-blue-color: #126797;
	--darkest-blue-color: #142647;
	--blue-color: #baefff;
	--light-blue-color: #0bbbef;
	--green-color: #129757;
	--yellow-color: #c6c945;
	--red-color: #c22222;
	--orange-color: #f6741d;
	--grey-color: #ecf1f4;
	--border-color: #d9d9d9;
	--dark-border-color: #4f687c;
	--cell-red-color: #f48080;
	--cell-orange-color: #f4b180;
	--cell-light-green-color: #d6f480;
	--cell-green-color: #83f480;
}
